.boxa
{
    background-color: olive;
    padding: 30px;
    border: 3px solid black;
    margin-bottom: 20px;
    width: 250px;
    height: 150px;
    box-sizing: border-box;
}


.boxb
{
    background-color: cadetblue;
    width: 250px;
    height: 150px;
}