h1
{
    color: crimson;
    text-align: center;
}

p
{
    color: darkblue;
}

header p
{
    color: darkgreen;
}
header p span
{
    color:darkorange;
}

.highlight
{
    background-color: darkslategrey;
}

